.about {
  .page-main & {
    position: relative;
    padding-top: 72px;
    padding-bottom: 81px;
    color: #ffffff;
    background-color: @bg-index;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 0 0 30px 30px;
  }
}

.about__title {
  .page-main & {
    .clear();
    margin-bottom: 19px;
    padding-left: 25px;
  }
}

.about__text {
  .clear();
  margin-bottom: 19px;
  padding-left: 25px;
  font-weight: 300;

  &nbsp {
    display: none;
  }
}

.about__next {
  display: block;
  .clear();
  padding-left: 25px;
  padding-right: 30px;
}

.about__more {
  .page-main & {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .about {
    .page-main & {
      padding-top: 70px;
      padding-bottom: 87px;
      border-radius: 0 0 60px 60px;
    }
  }

  .about__title {
    .page-main & {
      .clear();
      margin-bottom: 40px;
      padding-left: 34px;
    }
  }

  .about__text {
    width: 335px;
    margin-bottom: 32px;
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;

    & br {
      display: none;
    }

    & span {
      display: block;
    }
  }

  .about__next {
    width: 322px;
    margin-bottom: 53px;
    padding-left: 35px;
    font-size: 21px;
    line-height: 25px;
  }

  .about__more {
    width: 274px;
    margin-left: 35px;
    padding: 29px 126px 27px 33px;
    color: @title;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 20px;
    background-color: @map;
    text-decoration: none;

    .page-main & {
      display: block;
      text-align: left;
    }

    &::after {
      right: 36px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    .page-main & {
      padding-top: 0;
      padding-bottom: 0;
      background-image: none;
      // background-size: 376px 548px;
      // background-position: right bottom;

      &::after {
        height: 60px;
        bottom: -60px;
        border-radius: 0 0 60px 60px;
      }
    }
  }

  .about__title {
    .page-main & {
    .clear();
    margin-bottom: 55px;
    padding-left: 68px;
  }
}

  .about__text {
    width: 685px;
    margin-bottom: 40px;
    padding-left: 71px;

    & span{
      display: inline;
    }
  }

  .about__next {
    display: block;
    width: 510px;
    margin-bottom: 84px;
    padding-left: 71px;
  }

  .about__more {
    margin-left: 71px;
  }
}
