.about {
  position: relative;
  padding-top: 72px;
  padding-bottom: 29px;
  color: #ffffff;
  background-color: @bg-index;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  &::after {
    .pseudo();
    width: 100%;
    height: 30px;
    left: 0;
    bottom: -30px;
    background-color: inherit;
    border-radius: 0 0 30px 30px;
    z-index: 5;
  }
}

.about__wrapper {
  position: relative;
  z-index: 10;

  &::before {
    .pseudo();
    .size(132);
    left: -17px;
    top: -32px;
    background-color: #141b3b;
    z-index: -2;
  }

  &::after {
    .pseudo();
    .size(292; 352);
    right: 10px;
    top: -32px;
    background-image: url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 292px 352px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/about-mobile@2x.png");
    }

    z-index: -1;
  }
}

.about__title {
  .about & {
    .clear();
    margin-bottom: 19px;
    padding-left: 25px;
  }
}

.about__text {
  .clear();
  margin-bottom: 19px;
  padding-left: 25px;
  font-weight: 300;

  &nbsp {
    display: none;
  }
}

.about__next {
  display: block;
  .clear();
  margin-bottom: 23px;
  padding-left: 25px;
  padding-right: 30px;
}

.about__more {
  .about & {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .about {
    padding-top: 39px;
    padding-bottom: 27px;

    &::after {
      height: 60px;
      left: 0;
      bottom: -60px;
      border-radius: 0 0 60px 60px;
    }
  }

  .about__wrapper {
    &::before {
      .size(688; 213);
      top: -39px;
      right: 40px;
      left: 40px;
      background-color: #141b3b;
      border-radius: 20px;
      z-index: -1;
    }

    &::after {
      .size(376; 548);
      top: 7px;
      right: 8px;
      background-image: url("../img/about-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 376px 548px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/about-tablet@2x.png");
      }

      z-index: -1;
    }
  }

  .about__title {
    .about & {
      .clear();
      margin-bottom: 40px;
      padding-left: 34px;
    }
  }

  .about__text {
    width: 335px;
    margin-bottom: 32px;
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;

    & br {
      display: none;
    }

    & span {
      display: block;
    }
  }

  .about__next {
    width: 322px;
    margin-bottom: 53px;
    padding-left: 35px;
    font-size: 21px;
    line-height: 25px;
  }

  .about__more {
    .about & {
      display: block;
      width: 274px;
      margin-left: 35px;
      padding: 29px 126px 27px 33px;
      color: @title;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      border-radius: 20px;
      background-color: @map;
      text-decoration: none;
      text-align: left;

      &::after {
        right: 36px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding-top: 133px;
    padding-bottom: 103px;
    background-image: none;

    &::after {
      height: 60px;
      bottom: -60px;
      border-radius: 0 0 60px 60px;
    }
  }

  .about__wrapper {
    &::before {
      left: 60px;
      top: -62px;
      .size(213);
    }

    &::after {
      top: -46px;
      right: 60px;
      .size(630; 665);
      background-image: url("../img/about-desktop@1x.png");
      background-size: 630px 665px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/about-desktop@2x.png");
      }

      z-index: 10;
    }
  }

  .about__title {
    .about & {
      .clear();
      margin-bottom: 55px;
      padding-left: 68px;
    }
  }

  .about__text {
    width: 685px;
    margin-bottom: 40px;
    padding-left: 71px;

    & span {
      display: inline;
    }
  }

  .about__next {
    display: block;
    width: 512px;
    margin-bottom: 84px;
    padding-left: 71px;
  }

  .about__more {
    .about & {
      margin-left: 71px;
    }
  }
}
