.action-sequence {
  background-image: linear-gradient(to bottom, @bg-header 25%, @bg-index 25%);
}

.action-sequence__list {
  display: flex;
  flex-wrap: wrap;
  .clear();
  list-style: none;
}

.action-sequence__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding: 22px;
  padding-left: 24px;
  list-style: none;
  border-radius: 10px 10px 0 0;
  margin-top: -20px;

  &:nth-child(1) {
    margin-top: 0;
    background-color: @bg-sequence1;
  }

  &:nth-child(2) {
    background-color: @bg-sequence2;
  }

  &:nth-child(3) {
    background-color: @bg-sequence3;
  }

  &:nth-child(4) {
    height: 80px;
    background-color: @bg-sequence4;
    border-radius: 10px;
  }
}

.action-sequence__text {
  width: 140px;
  .clear();
  color: @bg-header;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.action-sequence__number {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .action-sequence {
    padding-bottom: 96px;
    font-size: 24px;
    line-height: 24px;
    // background-color: @bg-index;
    background-image: none;
    // background-image: linear-gradient(
    //   to bottom,
    //   @bg-header 140px,
    //   @bg-index 140px
    // );
  }

  .action-sequence__item {
    height: 140px;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    margin: 0;
    padding: 30px 34px;

    &:nth-child(1) {
      width: calc(50% + 30px);
    }

    &:nth-child(2) {
      width: 50%;
      // height: 140px;
      margin-left: -30px;
    }

    &:nth-child(3) {
      width: calc(50% + 30px);
      // height: 140px;
      border-radius: 0 0 20px 20px;
    }

    &:nth-child(4) {
      width: 50%;
      height: 140px;
      margin-left: -30px;
      border-radius: 0 0 20px 20px;
    }
  }

  .action-sequence__text {
    width: 185px;
    font-size: 24px;
    line-height: 24px;
  }

  .action-sequence__number {
    margin-top: -34px;
    font-size: 30px;
    line-height: 120px;
  }
}

@media (min-width: @desktop-width) {
  .action-sequence {
    // background-image: inherit;
    // padding-bottom: 0;
    padding-bottom: 123px;
    z-index: 5;
  }

  .action-sequence__wrapper {
    position: relative;
    z-index: 5;

    &::before {
      .psevdo();
      .size(431; 640);
      bottom: -123px;
      right: 405px;
      background-image: url("../../img/traveller-illustration-desktop@1x.png");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  .action-sequence__item {
    flex-direction: row;
    justify-content: space-between;
    height: 107px;
    .clear();
    padding-left: 31px;
    padding-top: 30px;
    padding-bottom: 30px;

    &:nth-child(1) {
      width: 335px;
      border-radius: 20px 0 0 20px;
      padding-left: 33px;
    }

    &:nth-child(2) {
      width: 365px;
      margin-top: 0;
      margin-left: -20px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(3) {
      width: 365px;
      margin-top: 0;
      margin-left: -20px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(4) {
      width: 315px;
      height: 107px;
      margin-top: 0;
      margin-left: -20px;
      border-radius: 20px;

      & .action-sequence__number {
        margin-right: 33px;
      }
    }
  }

  .action-sequence__text {
    width: 185px;
    font-size: 24px;
    line-height: 24px;
  }

  .action-sequence__number {
    display: block;
    margin-top: -48px;
    margin-right: 54px;
    font-size: 24px;
    line-height: 120px;
  }
}
