.add-profile {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  border-radius: 0 0 30px 30px;
}

.add-prifile__wrapper {
  color: @text;
  background-color: @bg-catalog;
  border-radius: 0 0 30px 30px;
}

.add-profile__title {
  color: @bg-sequence1;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.add-profile__item {
  list-style: none;
}

.add-profile__busness-link {
  color: @bg-index;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.add-profile__question {
  color: @bg-sequence1;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.add-profile__communication {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.add-profile__authorization {
  color: #ffd74b;
  text-decoration: underline;
}
