.companions {
  position: relative;
  padding-top: 70px;
  padding-bottom: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  background-color: @bg-index;

  &::after {
    .pseudo();
    width: 100%;
    height: 30px;
    left: 0;
    bottom: -30px;
    background-color: inherit;
    border-radius: 0 0 30px 30px;
    z-index: 6;
  }
}

.companions__wrapper {
  position: relative;
  z-index: 1;

  &::before {
    .pseudo();
    .size(143);
    top: 0;
    right: 25px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 143px 143px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
    }

    border-radius: 20px;
    z-index: -1;
  }

  &::after {
    .pseudo();
    .size(71);
    top: 273px;
    left: -9px;
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 71px 71px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }

    border-radius: 20px;
    z-index: -1;
  }
}

.companions__title {
  .companions & {
    padding-top: 32px;
    margin-bottom: 19px;
    // padding-left: 25px;
  }
}

.companions__description {
  .clear();
  margin-bottom: 21px;
  padding-right: 30px;
  font-weight: 300;
}

.companions__now-easy {
  display: block;
  // padding-left: 24px;
  font-weight: 700;
}

.companions__wrapper-title {
  position: relative;
  margin-bottom: 56px;
  padding-left: 25px;

  &::before {
    .pseudo();
    .size(132);
    top: 0;
    left: -44px;
    background-color: #141b3b;
    border-radius: 20px;
    z-index: -1;
  }
}

.companions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .clear();
  margin-bottom: 9px;
  list-style: none;
}

.companions__item {
  width: 270px;
  margin-bottom: 10px;
  text-align: center;
}

.companions__to-all {
  width: 100%;
  padding: 24px 24px 20px;
  color: @title;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: left;
  background-color: @map;
  border-radius: 10px;
  z-index: -1;

  &::after {
    right: 24px;
  }
}

@media (min-width: @tablet-width) {
  .companions {
    padding-top: 130px;
    padding-bottom: 27px;

    &::after {
      height: 60px;
      left: 0;
      bottom: -60px;
      border-radius: 0 0 60px 60px;
    }
  }

  .companions__wrapper {
    &::before {
      .size(143);
      top: 358px;
      left: 40px;
      right: auto;
      background-image: url("../img/smolov-back-desktop@1x.png");
      background-size: 143px 143px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/smolov-back-desktop@2x.png");
      }

      z-index: -1;
    }

    &::after {
      .size(285);
      top: 12px;
      left: auto;
      right: 74px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 285px 285px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
      }

      z-index: -1;
    }
  }

  .companions__wrapper-title {
    margin-bottom: 58px;
    padding-left: 33px;

    &::before {
      .size(213);
      top: 12px;
      left: 0;
    }
  }

  .companions__title {
    .companions & {
      margin-bottom: 55px;
      padding-top: 72px;
    }
  }

  .companions__description {
    width: 485px;
    .clear();
    padding-left: 2px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;

    & span {
      display: block;
    }
  }

  .companions__now-easy {
    width: 300px;
    padding-left: 2px;
    font-size: 21px;
    line-height: 25px;

    & span {
      display: block;
    }
  }

  .companions__list {
    margin-bottom: 72px;
    padding: 0 35px;
  }

  .companions__item {
    width: 285px;
    margin-bottom: 10px;
  }

  .companions__to-all {
    display: block;
    width: 618px;
    margin: 0 auto;
    padding: 28px 0 28px 32px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &::after {
      right: 35px;
    }
  }
}

@media (min-width: @desktop-width) {
  .companions {
    padding-top: 190px;
    padding-bottom: 22px;
  }

  .companions__wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 0;
    background-position: 191px 256px;

    &::before {
      left: 548px;
      top: 5px;
    }

    &::after {
      top: 255px;
      left: 191px;
    }
  }

  .companions__wrapper-title {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 68px;
    padding-bottom: 40px;

    &::before {
      top: -62px;
      left: 0;
    }
  }

  .companions__title {
    .companions & {
      margin-bottom: 54px;
      padding-top: 0;
      padding-left: 0;
      letter-spacing: -0.2px;
    }
  }

  .companions__description {
    width: 430px;
    margin-bottom: 39px;
    padding-left: 3px;
    font-size: 28px;
    line-height: 33px;
  }

  .companions__now-easy {
    width: 270px;
    padding-left: 3px;
    font-size: 21px;
    line-height: 25px;
  }

  .companions__list {
    justify-content: flex-end;
    .clear();
    padding-top: 4px;
    // list-style: none;
  }

  .companions__item {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  .companions__to-all {
    width: 280px;
    margin-top: -78px;
    margin-bottom: 54px;
    margin-left: 71px;
    padding: 28px 36px 26px 34px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    z-index: 2;
  }
}
