.contacts {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.contacts__item {
  list-style: none;
}

.contacts__link {
  text-decoration: none;
  color: @map;
}
