.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 25px;
  .olg();

  .page-header--menu-open &,
  .nojs & {
    position: relative;
  }

  .page-footer & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about & {
    position: relative;
    z-index: 10;

    &::after {
      .psevdo();
      .size(292; 352);
      left: -7px;
      bottom: -81px;
      background-image: url("../../img/about-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }
  }

  .companions & {
    position: relative;
    padding-top: 32px;
    background-image: url("../../img/smolov-back-desktop@1x.png");
    background-position: 180px 0;
    background-repeat: no-repeat;
    background-size: 143px 143px;
    z-index: 1;

    &::after {
      .psevdo();
      .size(71);
      top: 273px;
      left: -9px;
      background-image: url("../../img/rogovaya-back-mobile@1x.png");
      background-repeat: no-repeat;
      background-size: 71px 71px;
      z-index: -1;
    }
  }

  .directions & {
    position: relative;
  }

  .map__wrapper & {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .form-me__wrapper & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-me__wrapper-bottom & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .new-plan & {
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .container {
    max-width: @tablet-width;
    padding: 0 40px;

    .page-header & {
      position: relative;
    }

    .about & {
      &::after {
        .psevdo();
        .size(376; 548);
        top: 7px;
        left: 384px;
        background-image: url("../../img/about-tablet@1x.png");
        background-repeat: no-repeat;
        background-size: 376px 548px;
      }
    }

    .companions & {
      padding-top: 72px;
      background-image: url("../../img/rogovaya-back-desktop@1x.png");
      background-position: 408px 7px;
      background-repeat: no-repeat;
      background-size: 285px 285px;

      &::after {
        .size(143);
        top: 357px;
        left: 40px;
        background-image: url("../../img/smolov-back-desktop@1x.png");
        background-size: 143px 143px;
        z-index: -1;
      }
    }

    .directions & {
      background: url("../../img/flags-back@1x.png") no-repeat;
      background-size: 289px 575px;
      background-position: 438px 6px;

      &::before {
        .psevdo();
        .size(141);
        top: 334px;
        left: 40px;
        background-color: @bg-country;
        border-radius: 20px;
      }
    }

    .page-footer & {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: @desktop-width;
    padding: 0 60px;

    .page-header & {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: @bg-header;

      &::after {
        .psevdo();
        .size(431; 640);
        top: 80px;
        left: 604px;
        background-image: url("../../img/traveller-illustration-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
      }

      .form-me__wrapper-bottom & {
        flex-direction: column;
        // align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .about & {
      padding-top: 133px;
      padding-bottom: 163px;
      background: url("../../img/about-desktop@1x.png") no-repeat;
      background-size: 630px 665px;
      background-position: 750px bottom;

      &::after {
        left: 60px;
        top: 71px;
        .size(213);
        background-color: #141b3b;
        background-image: none;
        border-radius: 20px;
      }
    }

    .directions & {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-top: 73px;
      padding-bottom: 52px;
      background-position: 1091px top;

      &::before {
        top: 1px;
        left: 60px;
      }
    }

    .companions & {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 0;
      padding-bottom: 54px;
      background-position: 191px 256px;

      &::after {
        top: 4px;
        left: 547px;
      }
    }

    .map__wrapper & {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      padding-top: 54px;
      padding-bottom: 56px;
    }

    .form-me__wrapper-bottom & {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
