.contacts {
  display: none;
  .clear();
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;

  .page-header--menu-open &,
  .page-header--nojs & {
    display: block;
  }

  .page-main__user & {
    display: flex;
  }
}

.contacts__item {
  list-style: none;

  .page-main__user & {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-profile & {
    width: 100%;
    padding-left: 60px;
  }
}

.contacts__link {
  color: @bg-index;
  text-decoration: none;

  &--orange {
    text-decoration: none;
    color: @map;
  }

  .page-main__user & {
    .size(40);
    font-size: 0;
    border-radius: 50%;
  }
}

.contacts__phone {
  .page-main__user & {
    background: url("../../img/topmenu-phone.svg") no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: @bg-sequence1;

  }
}

.contacts__email {
  .page-main__user & {
    background: url("../../img/topmenu-mail.svg") no-repeat;
    background-size: 18px;
    background-position: center;
    background-color: @bg-sequence3;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    .page-main__user & {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .page-header & {
      display: flex;
      flex-wrap: wrap;
    }

    .page-main__user & {
      display: none;
    }
  }

  .contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;

    .add-profile & {
      width: 50%;
      padding-left: 94px;
    }
  }

  .contacts__link {
    .size(50);
    font-size: 0;
    border-radius: 50%;
  }

  .contacts__phone {
    background-color: @bg-sequence1;
  }

  .contacts__email {
    background-color: @bg-sequence3;
  }
}
