.country {
  position: relative;
  display: flex;
  min-width: 220px;
  border: none;

  &--del {
    display: none;
  }
}

.country__btn {
  position: relative;
  width: 168px;
  padding: 13px 0 10px 10px;
  font-family: inherit;
  background-color: inherit;
  border: none;
  color: @title;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.4px;
  border-radius: 4px;
  border: 1px solid @letter;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    .pseudo();
    .size(49; 36);
    right: 0;
    top: 1px;
    bottom: 1px;
    background-image: linear-gradient(to right, transparent, #ffffff 14px);
    z-index: 2;
  }

  &::before {
    .pseudo();
    .size(12; 7);
    right: 13px;
    top: 46%;
    background-image: url("../img/dropdown-form.svg");
    z-index: 3;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: #959bb2;

    & + .country__flag {
      border-color: #959bb2;
    }

    &::before {
      opacity: 0.5;
      border-color: #959bb2;
    }
  }

  &--null {
    width: 100%;

    &:active {
      &::after {
        background-color: @title;
      }
    }

    &::after {
      .size(8);
      top: calc(50% - 4px);
      right: 48px;
      background-image: none;
      border: 1px solid @letter;
      border-radius: 50%;
    }
  }
}

.country__flag {
  position: relative;
  width: 53px;
  border-radius: 4px;
  border: 1px solid @letter;

  &::before {
    .pseudo();
    .size(8);
    top: calc(50% - 4px);
    left: -5px;
    border-radius: 50%;
    background-color: @title;
    z-index: 2;
  }
}

.country__button-del {
  position: absolute;
  .size(21);
  right: -3px;
  top: -10px;
  background-color: @bg-catalog;
  border-radius: 50%;
  border: none;
  z-index: 2;

  &::before {
    .pseudo();
    .size(13; 1);
    top: 10px;
    right: 4px;
    transform: rotate(45deg);
    background-color: @title;
    opacity: 0.1;
  }

  &::after {
    .pseudo();
    .size(13; 1);
    top: 10px;
    right: 4px;
    transform: rotate(-45deg);
    background-color: @title;
    opacity: 0.1;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      opacity: 0.3;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.05;
    }
  }
}

.country__name {
  .steps & {
    padding-left: 37px;
    color: @title;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
  }
}

.country__fun-description {
  padding-top: 13px;
  padding-left: 15px;
  color: @text;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 4px;
  border: 1px solid @letter;

  &::placeholder {
    opacity: 0.3;
  }
}

// .country__btn {
//   text-decoration: none;
//   color: @title;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 18px;
//   text-transform: uppercase;
//   letter-spacing: 1.4px;
// }
