.country-filter {
  color: @bg-index;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  background-color: @bg-country;
  border-radius: 0 0 20px 20px;

  &--open {
    position: absolute;
    padding-bottom: 27px;
    left: 0;
    right: 0;
    z-index: 3;
  }

  &--form {
    display: none;
    border-radius: 0 0 10px 10px;
  }

  &--open&--form {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    display: block;
    padding-bottom: 17px;
    box-shadow: 0 20px 50px rgba(29, 46, 91, 0.1);
    border-radius: 0 0 10px 10px;
    border: 1px solid @letter;
    background-color: #ffffff;
    z-index: 3;
  }
}

.country-filter__menu {
  margin-bottom: 24px;

  .country-filter--open & {
    margin-bottom: 0;
  }
}

.country-filter__menu-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.country-filter__title {
  .clear();
  padding: 14px 0 14px 27px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  background-image: url("../img/filter.svg");
  background-repeat: no-repeat;
  background-size: 15px 10px;
  background-position: left center;
}

.country-filter__toggle {
  .clear();
  margin-left: auto;
  // .size(12);
  font-size: 0;
  background-color: inherit;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.country-filter__toggle-open {
  position: relative;
  display: block;
  .size(17; 12);
  // margin-bottom: 4px;
  margin-right: 5px;

  &::after {
    .pseudo();
    .size(17; 12);
    top: 0;
    right: 0;
    background-image: url("../img/dots.svg");
    background-size: 17px 12px;
    background-repeat: no-repeat;
  }

  .country-filter--open & {
    display: none;
  }
}

.country-filter__toggle-close {
  position: relative;
  display: none;
  .size(12);
  margin-bottom: 4px;
  margin-right: 7px;

  &::after {
    .pseudo();
    .size(12);
    top: 0;
    right: 0;
    background-image: url("../img/close-country.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }

  .country-filter--open & {
    display: block;
  }
}

.country-filter__region-list {
  display: none;
  .clear();
  margin-bottom: 19px;
  list-style: none;

  .country-filter--open & {
    display: block;
    padding-top: 16px;
    padding-left: 24px;
  }
}

.country-filter__region-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.country-filter__region-link {
  opacity: 0.3;
  color: @bg-index;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--active {
    opacity: 1;
  }
}

.country-filter__letter-list {
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .clear();
  padding-left: 25px;
  margin-bottom: 48px;
  list-style: none;

  &--form {
    width: 220px;
    .clear();
    margin-bottom: 53px;
  }
}

.country-filter__letter-btn {
  .clear();
  .size(44; 41);
  color: @title;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #ffffff;
  border: 1px solid @letter;

  &:hover,
  &:focus {
    border: 1px solid #959bb2;
    cursor: pointer;
  }

  &:active {
    background-color: @title;
    color: #ffffff;
  }

  &--active {
    color: #ffffff;
    background-color: @title;

    &:hover {
      cursor: pointer;
    }
  }
}

.country-filter__letter {
  display: none;

  &--active {
    display: block;
  }
}

.country-filter__letter-title {
  display: none;
}

.country-filter__country-list {
  display: none;
  .clear();
  margin-bottom: 38px;
  padding-left: 25px;
  list-style: none;

  &--form {
    display: block;
    .clear();
    padding-left: 20px;
  }

  &--mobile {
    display: block;
  }
}

.country-filter__country-link {
  color: @text;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;

  &:hover,
  &:focus {
    color: @title;
  }

  &:active {
    opacity: 0.3;
  }
}

.country-filter__close {
  width: 100%;
  height: 40px;
  padding-left: 32px;
  color: @title;
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;
  background-color: #d6daed;
  border: none;
  border-radius: 20px;
  display: none;

  &:hover,
  &:focus {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  .country-filter--open & {
    display: block;
  }

  & span {
    position: relative;
    display: block;
    padding-top: 4px;

    &::before {
      .pseudo();
      .size(12);
      top: 13px;
      left: 53px;
      background-image: url("../img/close-country.svg");
      background-repeat: no-repeat;
      background-position: left center;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}

.country-filter__wrapper {
  display: none;

  .country-filter--open & {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .country-filter {
    border-radius: 0 0 60px 60px;
    padding-bottom: 1px;
    margin-bottom: 50px;

    &--catalog {
      margin-bottom: 44px;
    }

    &--open {
      z-index: 2;
    }

    &--form {
      border-radius: 0 0 10px 10px;
    }

    &--form&--open {
      position: absolute;
      width: 575px;
      top: 100%;
      display: flex;
      padding-top: 30px;
      padding-bottom: 36px;
      background-color: #ffffff;
      border: none;
    }
  }

  .country-filter__menu {
    padding-top: 116px;
    margin-bottom: 57px;
  }

  .country-filter__menu-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .country-filter__title {
    display: none;
  }

  .country-filter__toggle {
    .clear();
    margin-right: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    &--catalog {
      margin-left: auto;
      order: 2;
    }
  }

  .country-filter__toggle-open {
    width: auto;
    height: auto;
    .clear();
    margin-right: 16px;
    padding-top: 2px;
    padding-right: 43px;

    &::after {
      top: 2px;
      right: -5px;
      .size(27; 18);
      background-size: 27px 18px;
    }
  }

  .country-filter__toggle-close {
    width: auto;
    height: auto;
    .clear();
    margin-right: 14px;
    padding-top: 2px;
    padding-right: 82px;

    &::after {
      .size(18);
      top: 4px;
      background-size: 18px 18px;
    }
  }

  .country-filter__region-list {
    width: 65%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .clear();
    padding-top: 2px;
    padding-left: 33px;

    .country-filter--open & {
      display: flex;
      padding-top: 4px;
      padding-left: 33px;
    }
  }

  // .country-filter__region-list {
  //   .page-catalog & {
  //     width: 65%;
  //     display: flex;
  //     align-items: flex-start;
  //     flex-wrap: wrap;
  //     .clear();
  //     padding-top: 2px;
  //     padding-left: 33px;
  //   }
  // }

  .country-filter__region-link {
    display: block;
    min-width: 70px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  // .country-filter__region-link {
  //   .page-catalog & {
  //     display: block;
  //     min-width: 70px;
  //     font-size: 20px;
  //     font-weight: 700;
  //     line-height: 24px;
  //   }
  // }

  .country-filter__region-item {
    &:not(:last-child) {
      margin-right: 25px;
      margin-bottom: 0;
    }

    &:nth-child(2) {
      margin-right: 6px;
    }

    &:nth-child(3) {
      margin-right: 30px;
    }
  }

  // .country-filter__region-item {
  //   .page-catalog & {
  //     &:not(:last-child) {
  //       margin-right: 25px;
  //       margin-bottom: 0;
  //     }

  //     &:nth-child(2) {
  //       margin-right: 6px;
  //     }

  //     &:nth-child(3) {
  //       margin-right: 30px;
  //     }
  //   }
  // }

  .country-filter__wrapper {
    .country-filter--open & {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 48px;
      padding-top: 52px;
      // background-color: @bg-country;
    }
  }

  .country-filter__letter-list {
    &--catalog {
      width: 410px;
      .clear();
      padding-left: 17px;
      background-color: @bg-country;
    }

    &--form {
      width: 287px;
      .clear();
      margin-right: 125px;
      padding-top: 4px;
      padding-left: 27px;
    }
  }

  .country-filter__letter-item {
    margin-bottom: 0;
  }

  // .country-filter__letter-item {
  //   .page-catalog & {
  //     margin-bottom: 0;
  //   }
  // }

  .country-filter__letter-btn {
    .country-filter__letter-list--catalog & {
      .size(71);
      .clear();
      margin-right: 7px;
      margin-bottom: 12px;
      color: @bg-index;
      font-size: 60px;
      font-weight: 700;
      line-height: 24px;
      background-color: @bg-country;
      border: none;
      opacity: 0.2;

      &--active {
        opacity: 1;
        background-color: inherit;
      }
    }

    .country-filter__letter-list--form & {
      .size(52; 69);
      font-size: 20px;

      &--active {
        color: #ffffff;
        letter-spacing: 2px;
        background-color: @title;
      }
    }
  }

  .country-filter__country-list {
    display: flex;
    flex-direction: column;
    .clear();

    &--mobile {
      display: none;
    }

    &--form {
      width: 180px;
    }
  }

  .country-filter__country-link {
    display: block;
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
  }

  .country-filter__letter {
    margin-right: 54px;
    padding-top: 3px;
  }

  .country-filter__close {
    width: 618px;
    height: 100px;
    .clear();
    margin: 0 auto 74px;
    font-size: 20px;
    line-height: 30px;

    & span {
      display: inline-block;
      padding-left: 38px;
      margin-right: 4px;

      &::before {
        .size(18);
        left: 0;
        top: 11px;
        background-size: 18px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .country-filter {
    margin-bottom: 150px;

    &--open {
      position: static;
      top: 300px;
      background-color: @bg-catalog;
    }

    &--form&--open {
      width: 730px;
      top: 100%;
      padding-top: 30px;
      padding-bottom: 17px;
    }
  }

  .country-filter__menu {
    margin-bottom: 44px;
    // background-color: @bg-catalog;
  }

  .country-filter__toggle {
    &--catalog {
      // background-color: @bg-catalog;
      margin-left: auto;
      order: 2;
    }
  }

  .country-filter__toggle-open {
    margin-right: 44px;
    padding-top: 0;
  }

  .country-filter__toggle-close {
    .clear();
    margin-right: 44px;
    margin-bottom: 30px;
    padding-right: 82px;
  }

  .country-filter__region-list {
    width: 50%;
    .clear();

    .country-filter--open & {
      .clear();
    }
  }

  .country-filter__region-list--catalog {
    .country-filter__region-item {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    .country-filter__region-link {
      min-width: 55px;
    }
  }

  .country-filter__wrapper {
    .country-filter--open & {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 14px;
      padding-top: 41px;
      padding-left: 36px;
      // background-color: @bg-catalog;
    }
  }

  .country-filter__title {
    display: block;
    .clear();
    margin-left: 20px;
    margin-right: 38px;
    padding-left: 44px;
    font-size: 20px;
    line-height: 24px;
    background-position: left 40%;
    background-size: 23px 15px;
  }

  .country-filter__letter {
    display: block;
    .clear();
    margin-bottom: 49px;
    // .olo();

    &:nth-child(5n + 2) {
      width: 254px;
    }

    &:nth-child(5n + 3) {
      width: 252px;
    }

    &:nth-child(5n + 4) {
      width: 250px;
    }

    &:nth-child(5n + 5) {
      width: 246px;
    }

    &:nth-child(5n + 6) {
      width: 204px;
    }

    &:nth-child(n + 12):nth-child(-n + 16) {
      margin-bottom: 90px;
    }

    &:nth-child(n + 17):nth-child(-n + 21) {
      margin-bottom: 45px;
    }

    &:nth-child(n + 22):nth-child(-n + 26) {
      & .country-filter__letter-title {
        margin-bottom: 40px;
      }
    }
  }

  .country-filter__letter-title {
    display: flex;
    align-items: center;
    min-height: 60px;
    .clear();
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
  }

  .country-filter__letter-list {
    &--catalog {
      display: none;
    }

    &--form {
      width: 390px;
    }
  }

  .country-filter__country-list {
    .clear();
  }

  .country-filter__letter-item {
    .country-filter__letter-list--form & {
      margin-bottom: 15px;

      &:not(:nth-child(5n)) {
        margin-right: 15px;
      }
    }
  }

  .country-filter__letter-btn {
    .country-filter__letter-list--form & {
      .size(60; 70);
      border-radius: 4px;
    }
  }

  .country-filter__close {
    width: 1320px;
    margin-bottom: 0;
  }
}
