.directions {
  color: @text;
  background-color: @bg-catalog;
  border-radius: 0 0 30px 30px;
}

.directions__title {
  color: @bg-sequence1;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.directions__entry {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.directions__country {
  color: @bg-header;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__slogan-country {
  opacity: 0.3;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__slogan-country {
  opacity: 0.3;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
