.directions {
  padding-bottom: 30px;
  color: @text;
  background-color: @bg-catalog;
  border-radius: 0 0 30px 30px;
}

.directions__entry {
  .clear();
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.directions__list {
  .clear();
  display: flex;
  flex-direction: column;
  list-style: none;
}

.directions_item {
  margin-bottom: 10px;
}

.directions__image {
  border-radius: 10px;
}

.directions__wrapper {
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 10;
}

.directions__country {
  .clear();
  color: @bg-header;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__slogan-country {
  opacity: 0.3;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__count {
  opacity: 0.3;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.directions__to-all {
  width: 100%;
  padding: 24px;
  color: @title;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: @map;
  text-decoration: none;
  text-align: left;
  border-radius: 10px;
}

@media (min-width: @tablet-width) {
  .directions__to-all {
    padding: 31px 35px 32px 34px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

@media (min-width: @desktop-width) {
  .directions__to-all {
  }
}
