.form-me {
  padding-top: 45px;
  background-color: @bg-catalog;
  padding-bottom: 30px;
}

.form-me__wrapper-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-me__level {
  .size(100);
  margin-right: 35px;
  margin-left: 20px;
}

.form-me__level-line {
  top: -6px;
  left: -6px;
  .size(110);
}

.form-me__image {
  display: block;
  .size(100);
  border-radius: 50%;
}

.form-me__favor {
  margin-bottom: 33px;
}

.form-me__wrapper-favor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-me__photo-btn {
  display: block;
  width: 100%;
  margin-bottom: 33px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: @blue-btn;
  text-decoration: none;
  color: @bg-header;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  & span {
    margin-right: 4px;
  }

  &:hover,
  .form-me__input:focus + & {
    background-color: #d1d7e9;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.form-me__hashtags {
  position: relative;
}

.form-me__legend-hashtag,
.form-me__legend-transport {
  margin: 0 auto;
  padding: 0 18px;
  color: @title;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.form-me__hashtags-list {
  display: block;
  width: 270px;
  min-height: 89px;
  .clear();
  margin-bottom: 25px;
  padding: 20px 25px 23px;
  color: @text;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  background-color: @bg-catalog;
  border: 1px solid @letter;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    border-color: #aeb4cb;
  }

  &:focus {
    border-color: @bg-header;
  }
}

.form-me__legend-hashtag {
  position: absolute;
  padding: 5px 17px;
  top: -14px;
  left: calc(50% - 35px);
  background-color: @bg-catalog;
}

.form-me__transport {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  border: 1px solid @letter;
  border-radius: 10px;
}

.form-me__legend-transport {
  position: absolute;
  padding: 5px 17px;
  top: -14px;
  left: calc(50% - 58px);
  background-color: @bg-catalog;
}

.form-me__travel-modes {
  .clear();
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 6px;
}

@media (min-width: @tablet-width) {
  .form-me {
    padding-top: 124px;
  }

  .form-me__level {
    margin-left: 31px;
    margin-right: auto;
    padding-bottom: 4px;
  }

  .form-me__level-line {
    left: 0;
    .size(105);
  }

  .form-me__image {
    .size(94);
    margin: 0 35px 19px auto;
    border-radius: 5px;
  }

  .form-me__favor {
    padding-bottom: 28px;
  }

  .form-me__photo-btn {
    order: 20;
    width: 618px;
    margin: 0 35px 52px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;

    & span {
      margin-right: 10px;
    }
  }

  .form-me__hashtags {
    order: 30;
    width: 100%;
    border-radius: 10px;
  }

  .form-me__legend-hashtag,
  .form-me__legend-transport {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .form-me__legend-hashtag {
    top: auto;
    bottom: -14px;
    left: calc(50% - 42px);
  }

  .form-me__hashtags-list {
    display: block;
    margin: 0 auto;
    width: 618px;
    padding: 32px 39px 13px;
    font-size: 20px;
    line-height: 24px;
  }

  .form-me__legend-transport {
    top: auto;
    bottom: -14px;
    left: 78px;
  }

  .form-me__transport {
    order: 10;
    width: 308px;
    .clear();
    margin: -133px auto 52px;
    padding-top: 24px;
    padding-bottom: 25px;
    border-radius: 10px;
  }

  .form-me__travel-modes {
    justify-content: center;
    .clear();
  }
}

@media (min-width: @desktop-width) {
  .form-me {
    padding-top: 0;
  }

  .form-me__private {
    align-items: center;
    margin-top: -130px;

    & picture {
      z-index: 5;
    }
  }

  .form-me__wrapper-top {
    margin-bottom: 0;
  }

  .form-me__level {
    margin: 44px 45px 0 896px;
    .size(94);
    color: #ffffff;
  }

  .form-me__level-line {
    left: -6px;
  }

  .form-me__image {
    z-index: 15;
    .size(190);
    margin: 0;
    margin-right: 95px;
    border-radius: 5px;
  }

  .form-me__favor {
    padding-bottom: 30px;
  }

  .form-me__wrapper-favor {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .form-me__photo-btn {
    order: 30;
    width: 190px;
    margin: 0 95px 27px 1035px;
    padding-top: 13px;
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;

    & span {
      display: none;
    }
  }

  .form-me__hashtags {
    order: 40;
    width: 730px;
    margin: 0 142px 35px 64px;
    border-radius: 10px;
  }

  .form-me__legend-hashtag,
  .form-me__legend-transport {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }

  .form-me__legend-hashtag {
    top: auto;
    bottom: -14px;
    left: 22px;
    margin-right: 22px;
    margin-left: auto;
  }

  .form-me__legend-transport {
    left: 116px;
  }

  .form-me__hashtags-list {
    width: 730px;
    margin: 0;
    padding: 32px 40px 12px;
    font-size: 20px;
    line-height: 24px;
  }

  .form-me__transport {
    order: 50;
    .clear();
    width: 384px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 24px;
    border-radius: 10px;
  }

  .form-me__travel-modes {
    justify-content: center;
  }
}
