.level {
  .form-me & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.level-line {
  .form-me & {
    display: block;
    position: absolute;
  }
}

.level-segment {
  .form-me & {
    transform-origin: center;
    stroke: @bg-sequence1;
  }
}

.level__value {
  .form-me & {
    color: @bg-header;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
  }
}

.level__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  .form-me & {
    color: @text;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.17px;
  }
}

@media (min-width: @tablet-width) {
  .level-line {
    .form-me & {
      .size(94);
    }
  }
}

@media (min-width: @desktop-width) {
  .level__value {
    .form-me & {
      color: #ffffff;
    }
  }

  .level__text {
    .form-me & {
      color: #ffffff;
    }
  }

  .level-line {
    .form-me & {
      .size(104);
    }
  }
}
