.level {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.level-line {
  display: block;
  position: absolute;
}

.level-segment {
  transform-origin: center;
  stroke: @bg-sequence1;
}

.level--form {
  .level__value {
    position: relative;
    color: @bg-header;
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;

    &::after {
      .pseudo();
      height: 2px;
      background-color: @title;
      left: -4px;
      right: -4px;
      bottom: 0;
    }
  }
}

.level__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  .level--form & {
    color: @text;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.17px;
  }
}

@media (min-width: @tablet-width) {
  .level-line {
    .size(105);
  }
}

@media (min-width: @desktop-width) {
  .level__value {
    .level--form & {
      color: #ffffff;
    }
  }

  .level__text {
    .level--form & {
      color: #ffffff;
    }
  }

  .level-line {
    .level--form & {
      .size(104);
    }
  }
}
