.main-nav {
  display: none;
  .clear();
  padding: 43px 25px 28px;
  text-align: center;
  background-color: inherit;

  .page-header--menu-open & {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 500;
  }

  .nojs & {
    display: block;
    position: static;
  }
}

.main-nav__list {
  .clear();
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    .clear();

    .page-header--menu-open & {
      display: flex;
      position: absolute;
      padding-top: 53px;
      padding-bottom: 74px;
    }

    .nojs & {
      display: flex;
      position: static;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    color: #ffffff;
    background-color: @bg-header;

    .page-header--menu-open & {
      position: static;
      background-color: inherit;
      .clear();
    }
  }
}
