.map {
  color: @bg-index;
  border-radius: 0 0 30px 30px;
  background-color: @map;
}

.map__address {
  color: @bg-index;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.map__link {
  color: @title;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}
