.map {
  background-color: @map;
  border-radius: 0 0 30px 30px;
}

.map__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 25px 35px;
  background-color: @map;
  color: @bg-index;
}

.map__address {
  position: relative;
  padding-right: 30px;
  padding-left: 61px;
  color: @bg-index;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  &::after {
    .psevdo();
    .size(45);
    left: 0;
    top: 0;
    background: url("../../img/contacts-location.svg") no-repeat;
    background-size: 14px 22px;
    background-position: center;
    background-color: #121936;
    border-radius: 50%;
  }
}

.map__link {
  // display: block;
  padding: 24px 23px 21px 24px;
  color: @title;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: left;
  border-radius: 10px;
  border: 3px solid @bg-index;

  &::after {
    right: 23px;
  }
}

.map__frame {
  display: block;
  width: 100%;
  // padding-top: -30px;
  border: none;
}
