.page-catalog {
  background-color: @bg-catalog;
}

.page-catalog__list {
  .clear();
  list-style: none;
}

@media (min-width: @desktop-width) {
  .page-catalog__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .page-catalog__filter {
    order: 2;
  }
}
