.page-footer {
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 14px;
  color: @text;
  background-color: #ffffff;

  &::before {
    .pseudo();
    width: 100%;
    height: 30px;
    top: -30px;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  display: block;
  margin-bottom: 38px;
}

.page-footer__logo-img {
  display: block;
  .size(100; 18);
}

.page-footer__social {
  .clear();
  margin-bottom: 52px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 46px;

    &::before {
      .pseudo();
      height: 60px;
      top: -60px;
      border-radius: 60px 60px 0 0;
      z-index: 5;
    }
  }

  .page-footer__wrapper {
    position: relative;
    top: -12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    margin-bottom: 4px;
    z-index: 6;
  }

  .page-footer__logo-img {
    .size(164; 42);
  }

  .page-footer__social {
    .clear();
    margin-right: 10px;
    z-index: 6;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    top: -9px;
  }

  .page-footer__logo-img {
    .size(198; 52);
  }

  .page-footer__social {
    margin-right: 44px;
  }
}
