.page-header {
  position: relative;
  width: 100%;
  background-color: @bg-header;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  &--scroll {
    background-color: #ffffff;
    position: fixed;
    z-index: 15;
  }
}

.page-header__wrapper {
  position: relative;
  z-index: 5;

  .page-header--scroll &,
  .page-header--menu-open &,
  .nojs & {
    background-color: #ffffff;
  }
}

.page-header__wrapper-logo {
  min-height: 74px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--index {
    padding-bottom: 0;
  }
}

.page-header__logo[href] {
  &:hover {
    cursor: pointer;
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  .size(25);
  background-color: @bg-header;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }

  &::before {
    .pseudo();
    .size(25; 3);
    background-color: #ffffff;
    left: 0;
    top: 6px;
  }

  &::after {
    .pseudo();
    .size(25; 3);
    background-color: #ffffff;
    left: 0;
    top: 13px;
  }

  .page-header--scroll & {
    background-color: #ffffff;

    &::before,
    &::after {
      background-color: #cccccc;
    }
  }

  .page-header--menu-open & {
    .size(19);
    background-color: #ffffff;

    &::before {
      .pseudo();
      .size(26; 2);
      background-color: #cccccc;
      left: -8px;
      top: 8px;
      transform: rotate(45deg);
    }

    &::after {
      .pseudo();
      .size(26; 2);
      background-color: #cccccc;
      left: -8px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }

  .nojs & {
    display: none;
  }
}

.page-header__list {
  .clear();
  list-style: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-color: @bg-head-tablet;

    &::after {
      display: none;
    }

    &--scroll {
      background-color: #ffffff;
    }

    &--menu-open,
    .nojs & {
      background-color: #ffffff;
    }

    .nojs & {
      display: block;
    }
  }

  .page-header__logo {
    .clear();
  }

  .page-header__logo-img {
    .size(166; 42);
  }

  .page-header__wrapper-logo {
    width: 52%;
    min-height: 130px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    // position: relative;
    min-height: 91px;
    .clear();
    padding-top: 29px;
    background-color: @bg-header;

    &--scroll {
      background-color: #ffffff;
    }
  }

  .page-header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;

    .page-header--menu-open &,
    .nojs & {
      background-color: @bg-header;
    }
  }

  .page-header__wrapper-logo {
    position: relative;
    width: 300px;
    min-height: 52px;
    margin-right: 45px;
    padding-right: 100px;

    &::after {
      .pseudo();
      .size(60; 2);
      top: 25px;
      right: 0;
      background-color: #ffffff;
    }

    .page-header--scroll &::after {
      background-color: @bg-index;
    }
  }

  .page-header__logo {
    .clear();
    margin-top: -6px;
  }

  .page-header__logo-img {
    .size(200; 52);
  }

  .page-header__toggle {
    display: none;
  }
}
