.page-main {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: @bg-header;
  z-index: 1;
}

.page-main__wrapper {
  position: relative;
  z-index: 1;
  background-color: @bg-header;

  &::after {
    .pseudo();
    width: 100%;
    height: 569px;
    top: -74px;
    background-image: url("../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/globe-back-mobile@2x.jpg");
    }

    z-index: -2;
  }

  &::before {
    .pseudo();
    width: 100%;
    height: 91px;
    top: 408px;
    background-color: @bg-header;
    z-index: -1;
  }
}

.page-main__intro {
  padding-top: 16px;
  padding-bottom: 30px;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 79px 150px;
  background-size: 192px 255px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
  }

  z-index: 1;
}

.page-main__title {
  .clear();
  margin-bottom: 247px;
  padding: 0 15px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.page-main__user {
  display: flex;
  margin-bottom: 26px;
  z-index: 4;
}

.page-main__login {
  flex-grow: 1;
  z-index: 4;
}

.page-main__login-link {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: @bg-header;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @map;
  border-radius: 20px;

  &:hover,
  &:focus {
    background-color: @bg-sequence3;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    position: relative;
    background-color: @bg-head-tablet;
    z-index: 1;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .page-main__wrapper {
    background-color: @bg-head-tablet;

    &::after {
      height: 612px;
      top: 252px;
      background-image: url("../img/globe-back-tablet@1x.jpg");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/globe-back-tablet@2x.jpg");
      }
    }

    &::before {
      display: none;
    }
  }

  .page-main__intro {
    padding-top: 27px;
    padding-bottom: 213px;
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-position: 285px 273px;
    background-size: 372px 451px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  .page-main__title {
    .clear();
    width: 400px;
    margin: 0 auto 89px;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
  }

  .page-main__user {
    display: none;
  }

  .page-main__login {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    .clear();

    &::after {
      display: block;
      width: 100%;
      height: 750px;
      top: -122px;
      background-image: url("../img/globe-back-desktop@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/globe-back-desktop@2x.jpg");
      }

      z-index: 0;
      border-radius: 0 0 60px 60px;
    }
  }

  .page-main__intro {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 84px;
    padding-bottom: 2px;
    background-image: none;

    &::after {
      .pseudo();
      .size(431; 640);
      top: -13px;
      left: 604px;
      background-image: url("../img/traveller-illustration-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 431px 640px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/traveller-illustration-desktop@2x.png");
      }

      z-index: -1;
    }
  }

  .page-main__title {
    .clear();
    margin-left: 66px;
    margin-right: auto;
    text-align: left;
    z-index: 2;
  }
}
