.period__month-year {
  display: flex;
  width: 100%;
  padding: 10px 5px 12px 5px;
  margin-bottom: 21px;
  color: @title;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  border: 1px solid @letter;
  border-left: none;
  border-right: none;
}

.period__month {
  margin-left: auto;
  margin-right: 5px;
}

.period__year {
  margin-right: auto;
}

.period__btn {
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 9px 18px;
  background-position: center center;
  opacity: 0.3;
  border: none;

  &--previous {
    background-image: url("../img/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/month-arrow-right.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.period__week {
  display: flex;
  justify-content: flex-start;
  .clear();
  margin-bottom: 3px;
  padding-left: 20px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.period__week-item {
  display: inline-block;

  & span {
    font-size: 0;
  }

  &:nth-child(n + 6) {
    color: @holiday;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.period__days {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .clear();
  margin-bottom: 22px;
  padding-left: 7px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.period__day-btn {
  width: 31.5px;
  height: 31.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: @text;
  letter-spacing: 1.8px;
  background-color: @bg-catalog;
  border: 1px solid @letter;
  z-index: 2;

  &:disabled {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ffffff;
  }

  &--start,
  &:hover,
  &:focus {
    opacity: 1;
    color: #ffffff;
    border: 2px solid @holiday;
    background-color: @title;
  }

  &--chosen,
  &--end {
    opacity: 1;
    color: #ffffff;
    background-color: @title;
  }

  &--trip {
    opacity: 1;
    color: @text;
    background-color: @bg-catalog;
  }
}

.period__day-month {
  display: none;
}

.period__day-action {
  display: none;
}

@media (min-width: @tablet-width) {
  .period__month-year {
    display: flex;
    width: 100%;
    .clear();
    margin-bottom: 31px;
    padding: 26px 16px 25px;
    font-size: 36px;
  }

  .period__btn {
    width: 19px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .period__month {
    margin-right: 7px;
    padding-top: 6px;
  }

  .period__year {
    padding-top: 6px;
  }

  .period__week {
    display: flex;
    justify-content: space-around;
    .clear();
    margin: 0 12px 4px;
    font-size: 18px;
    line-height: 30px;
  }

  .period__week-item {
    & span {
      font-size: 18px;
    }

    &:nth-child(n + 6) {
      color: @holiday;
    }
  }

  .period__days {
    .clear();
    margin-bottom: 46px;
    background-color: #ffffff;
  }

  .period__day-btn {
    width: 77px;
    height: 70px;
    margin-left: -1px;
    margin-top: -1px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

@media (min-width: @desktop-width) {
  .period__month-year {
    .clear();
    margin-bottom: 8px;
    padding: 26px 0;
  }

  .period__week {
    justify-content: flex-start;
    .clear();
    margin-bottom: 16px;
    // padding-left: 16px;
  }

  .period__week-item {
    padding-left: 16px;

    &:not(:last-child) {
      margin-right: 109px;
    }
  }

  .period__days {
    .clear();
    margin-bottom: 56px;
    margin-left: -1px;
  }

  .period__day-btn {
    justify-content: flex-start;
    align-items: flex-start;
    width: 143px;
    height: 72px;
    .clear();
    margin-top: -1px;
    padding-left: 15px;
    padding-top: 7px;
    font-size: 18px;
    font-weight: 400;
    // color: rgba(68, 68, 68, 0.3);
    line-height: 30px;
    letter-spacing: 1.8px;

    &--start,
    &--end {
      flex-direction: column;
    }

    &--chosen:hover,
    &--end:hover,
    &--chosen:focus,
    &--end:focus {
      flex-direction: column;
      padding-left: 14px;
      padding-top: 6px;
    }
  }

  .period__day-month {
    display: block;
    text-transform: none;
    padding-left: 5px;
  }

  .period__day-action {
    display: block;
    margin-top: -4px;
  }
}
