.registration {
  padding-bottom: 29px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  background-color: @bg-index;
  text-align: center;
}

.registration__question {
  .page-main & {
    margin-bottom: 23px;
  }
}

.registration__communication {
  .clear();
  padding: 0 36px 0;
}

.registration__communication-atr {
  .clear();
  margin-bottom: 32px;
  padding: 0 34px 0;
}

.registration__authorization {
  color: @map;
  text-decoration: underline;
}

.registration__form {
  position: relative;
  margin-bottom: 30px;
}

.registration__email {
  width: 100%;
  padding: 24px;
  padding-right: 84px;
  color: rgba(68, 68, 68, 0.3);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 10px;
  background-color: #ffffff;
}

.registration__button {
  position: absolute;
  width: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
  border-radius: 10px;
  background-color: @map;
}

.registration__communication-q,
.registration__communication-a {
  .clear();
}

.registration__communication-a {
  margin-bottom: 20px;
}

.registration__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .clear();
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

// .add-profile__contacts & {
//   text-decoration: none;
//   color: @map;
// }

// @media (min-width: @tablet-width) {
// }
// @media (min-width: @desktop-width) {
// }
