.reviews {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffff;
}

.reviews__text {
  display: block;
  margin-bottom: 18px;
  padding-left: 25px;
  padding-right: 97px;
  text-align: left;
}

.reviews__author {
  display: block;
  padding-right: 90px;
  padding-left: 25px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 295px;
    .clear();
    padding-bottom: 212px;
    padding-left: 35px;
  }

  .reviews__text {
    .clear();
    margin-bottom: 44px;
    font-size: 28px;
    line-height: 33px;
  }

  .reviews__author {
    .clear();
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 285px;
    .clear();
    margin-right: 61px;
    margin-bottom: 114px;
    padding-top: 10px;
  }
}
