.site-list {
  .clear();
  margin-bottom: 50px;
}

.site-list__item {
  display: none;
  overflow: hidden;

  .page-header--menu-open &,
  .nojs & {
    display: block;
  }
}

.site-list__link {
  position: relative;
  display: inline-block;
  color: @bg-index;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    content: attr(data-hover);
    color: @map;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: uppercase;
    top: 100%;
    transform: translate3d(0, 0, 0);
  }

  .site-list__item:hover &,
  .site-list__item:focus & {
    transform: translateY(-100%);
  }

  .site-list__item:active & {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    // .main-nav & {
    .clear();

    .page-header--menu-open &,
    .nojs & {
      display: block;
      margin-bottom: 130px;
      padding-left: 99px;
      // }
    }
  }

  .site-list__link {
    font-size: 60px;
    line-height: 71.01px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    .page-header & {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      .clear();
      margin-right: auto;
      padding-top: 6px;
    }
  }

  .site-list__item {
    .main-nav & {
      display: block;
      margin-right: 36px;
      overflow: hidden;
    }
  }

  .site-list__link {
    // padding-top: 2px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.2px;

    .page-header--scroll & {
      color: @bg-index;
    }
  }
}
