.site-list {
  flex-direction: column;
  .clear();
  margin-bottom: 50px;
  color: @bg-index;
}

.site-list__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.site-list__link {
  position: relative;
  // display: inline-block;
  display: block;
  // color: @bg-index;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: transform 0.3s;
  // overflow: hidden;

  &[href] {
    color: inherit;
  }

  &::before {
    position: absolute;
    content: attr(data-hover);
    color: @map;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: uppercase;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:hover,
  &:focus {
    transform: translateY(-100%);
  }

  // .site-list__item:hover &,
  // .site-list__item:focus & {
  //   transform: translateY(-100%);
  // }

  .site-list__item:active & {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    .clear();
    flex-direction: column;
  }

  .site-list__link {
    font-size: 60px;
    line-height: 71.01px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
      left: 0;
      transform: translate(0, 0);
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .clear();
    margin-right: auto;
    padding-top: 6px;
    color: #ffffff;

    // .page-header--scroll & {
    //   color: @bg-index;
    // }
  }

  .site-list__item {
    .site-list & {
      margin-right: 36px;
      overflow: hidden;
      display: block;
    }
  }

  .site-list__link {
    // color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
  }
}
