.social {
  display: flex;

  &--nav {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    .clear();
  }
}

.social__item {
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  .size(45);
  fill: @title;
  background-color: @map;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: @bg-sequence3;
  }

  &:active {
    fill: rgba(29, 46, 91, 0.3);
  }

  .social--nav & {
    &:hover,
    &:focus {
      fill: #ffffff;
      background-color: @bg-index;
    }

    &:active {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .social {
    &--nav {
      justify-content: flex-start;
      padding-left: 100px;
      order: 5;

      .nojs & {
        padding-left: 60px;
      }
    }
  }

  .social__link {
    .size(60);
  }

  .social__link-img {
    &--fb {
      .size(14; 28);
    }

    &--vk {
      .size(31; 16);
    }

    &--inst {
      .size(24);
    }
    // }
  }
}

@media (min-width: @desktop-width) {
  .social.social--nav {
    display: none;
  }
}
