.social {
  display: flex;
  .clear();

  .main-nav & {
    display: none;
  }

  .page-header--menu-open &,
  .nojs & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.social__item {
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .size(45);

  .main-nav & {
    color: #cccccc;
    background-color: #ffffff;
  }

  .page-footer & {
    margin-bottom: 52px;
    color: @title;
    background-color: @map;
  }
}

@media (min-width: @tablet-width) {
  .social {
    .main-nav & {
      padding-left: 100px;
      order: 5;
    }

    .page-footer &{
      margin-right: 10px;
    }
  }

  .social__link{
    // .main-nav & {
      .size(60);
    // }
    .page-footer &{
      margin-bottom: 0;
    }

  }

  .social__link-img {
    // .main-nav & {
      &--fb{
        .size(14; 28);
      }

      &--vk{
        .size(31; 16);
      }

      &--inst{
        .size(24);
      }
    // }
  }
}

@media (min-width: @desktop-width) {
  .social {
    .main-nav & {
      display: none;
    }
  }
}
