.travel-way__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .size(32);
  list-style: none;
  border-radius: 50%;
  background-color: #ffffff;

  &--catalog {
    background-color: @bg-catalog;
  }

  &--index {
    margin-right: 3px;
  }
}

.travel-way--index {
  .travel-way__img {
    &--plane {
      .size(19; 21);
    }

    &--bus {
      .size(17; 21);
    }

    &--bike {
      .size(24; 21);
    }

    &--run {
      .size(20; 21);
    }
  }
}

.travel-way__img {
  &--plane {
    .size(14; 16);
  }

  &--bus {
    .size(13; 16);
  }

  &--bike {
    .size(19; 17);
  }

  &--run {
    .size(15; 17);
  }
}

.travel-way__name {
  display: none;
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  padding: 20px 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background-color: #101d41;
  z-index: 100;

  &::before {
    .pseudo();
    .size(11);
    background-color: inherit;
    top: -6px;
    left: calc(50% - 6px);
    transform: rotate(45deg);
  }

  .travel-way__item:hover & {
    display: block;
  }
}

.travel-way__label {
  display: flex;
  justify-content: center;
  align-items: center;
  .size(33);
  fill: rgba(29, 46, 91, 0.15);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  .travel-way__input:focus + & {
    fill: rgba(16, 30, 68, 0.3);
  }

  &:active {
    fill: rgba(16, 30, 68, 0.1);
    background-color: @bg-country;
  }

  .travel-way__input:checked + & {
    fill: rgba(29, 46, 91, 1);

    &:hover {
      fill: rgba(16, 30, 68, 0.7);
    }

    &:active {
      fill: rgba(16, 30, 68, 0.3);
    }
  }

  .travel-way__input:focus:checked + & {
    fill: rgba(16, 30, 68, 0.7);
  }
}

@media (min-width: @tablet-width) {
  .travel-way__item {
    .travel-way--form & {
      .size(43);

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .travel-way--catalog & {
      background-color: inherit;
    }

    &--filter {
      .size(43);

      & .travel-way__label {
        .size(43);
      }

      & .travel-way__img {
        &--plane {
          .size(19; 21);
        }

        &--bus {
          .size(17; 21);
        }

        &--bike {
          .size(24; 21);
        }

        &--run {
          .size(20; 21);
        }
      }
    }
  }

  .travel-way__label {
    width: inherit;
    height: inherit;

    .travel-way--catalog & {
      .size(32);
    }

    .travel-way--form & {
      .size(43);
    }
  }

  .travel-way__img {
    &--plane {
      .size(19; 21);
    }

    &--bus {
      .size(17; 21);
    }

    &--bike {
      .size(24; 21);
    }

    &--run {
      .size(20; 21);
    }
  }
}

@media (min-width: @desktop-width) {
  .travel-way__item {
    &:not(:last-child) {
      margin-right: 0;
    }

    .travel-way--form & {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .travel-way--catalog & {
      .size(34);
      background-color: inherit;
    }

    &--filter {
      .size(43);

      & .travel-way__img {
        &--plane {
          .size(19; 21);
        }

        &--bus {
          .size(17; 21);
        }

        &--bike {
          .size(24; 21);
        }

        &--run {
          .size(20; 21);
        }
      }
    }
  }

  .travel-way__img {
    &--plane {
      .size(19; 21);
    }

    &--bus {
      .size(17; 21);
    }

    &--bike {
      .size(24; 21);
    }

    &--run {
      .size(20; 21);
    }
  }
}
