.size(@wt; @ht:@wt) {
  width: ~"@{wt}px";
  height: ~"@{ht}px";
}

.clear() {
  margin: 0;
  padding: 0;
}

// .segment(@wt; @level; @sw:3px) {
//   @lev: @level / 100;
//   @l: (@wt - @sw) * 3.1415926;
//   cx: @wt / 2;
//   cy: @wt / 2;
//   r: (@wt - @sw) / 2;
//   stroke-width: @sw;
//   stroke-dasharray: @l * @lev @l * (1 - @lev);
//   stroke-dashoffset: @l * 0.25;
// }

.pseudo() {
  position: absolute;
  content: "";
}

.flag(@country) {
  background-image: url("../img/flag-@{country}.svg");
  background-repeat: no-repeat;
}

.flag-small(@country) {
  background-image: url("../img/flag-@{country}.svg");
  background-repeat: no-repeat;
  background-size: 26px 18px;
}

.flag-middle(@country) {
  background-image: url("../img/flag-@{country}.svg");
  background-repeat: no-repeat;
  background-size: 35px 24px;
}

.flag-big(@country) {
  background-image: url("../img/flag-@{country}.svg");
  background-repeat: no-repeat;
  background-size: 70px 47px;
}

// Отладочные миксины
.olr() {
  outline: 3px solid red;
}

.olo() {
  outline: 2px solid orange;
}

.olg() {
  outline: 1px solid green;
}

.fon() {
  background-color: rgba(255, 255, 255, 0.3);
}
//
