// Цвета
@text: #444444;
@title: #1d2e5b;
@letter: #cbced9;
@blue-btn: #dfe3f0;
@bg-header: #161c36;
@bg-index: #192144;
@fieldset: #cbced9;
@map: #ffd74b;
@bg-form: #d4d9eb;
@bg-catalog: #edeff6;
@bg-country: #e2e5f2;
@bg-sequence1: #ff8d30;
@bg-sequence2: #ffa530;
@bg-sequence3: #ffbd30;
@bg-sequence4: #ffd74b;

// Размеры
@tablet-width: 768px;
@desktop-width: 1440px;
